@page
@model LinkShareApp.Pages.Codes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List Of Codes</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code[0].Link.UrlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code[0].CodeTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code[0].ValidTill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Code) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Link.UrlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-page="./Edit" class="btn-outline-primary" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" class="btn-outline-info" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" class="btn-outline-danger" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
